@import url('vendor/fonts/fonts.css');


body {
  margin: 0;
  font-family: 'Larsseit', 'Arial', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
